:root {
    --text-color: #757575;
    --second-black: #212121;
    --hero-back-color: #2F303A;
    --accent-color: #2196F3;
    --main-black: #000000;
    --main-white: #FFFFFF;
    --team-back-color: #F5F4FA;
    --footer-back-color: #2F303A;
    --footer-mail-tel: rgba(255, 255, 255, 0.6);
    --button-hover-focus: #188CE8;
    --border-header-color: #ECECEC;
    --border-content-portfolio: #eeeeee;
    --social-icon-color: #afb1b8;
    --icon-footer-bg: rgba(255, 255, 255, 0.1);
    --background-portfolio-image: rgba(33, 150, 243, 0.9);
}
$Roboto: Roboto, sans-serif;
$Raleway: Raleway, sans-serif;